<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_talim">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".register"/>
        <activity android:name=".Login" />
        <activity
            android:name=".idghamBigunnah"
            android:label="BAB 1"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".IzharHalqi"
            android:label="BAB 1"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Bab1Tajwid" />
        <activity
            android:name=".QiraatulQUran"
            android:label="Qiraatul Qur&apos;an"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Iqra"
            android:label="Iqra"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".TuntunanShalat"
            android:label="Tuntunan Shalat"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".tajwid"
            android:label="Tajwid"
            android:parentActivityName=".Dashboard"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>